<form class="" action="/riddles" method="post">
  <div class="form-group">
    <label for="answer"><%= @riddle.details[:q] %></label>
    <input id="answer" name="answer" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
